{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-4">
    {% for i in allBlogs %}
      {% if forloop.first %}
      <div class="card my-2">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title" style="font-weight: 500;">{{i.title}}</h5>
                </div>
                <div class="col-2">
                    <span class="text-muted" style="float: right;">{{ i.writer }}</span>
                </div>
            </div>
          
          <p class="card-text" style="text-align: justify;">{{ i.content }}</p>
          <div class="row">
            <div class="col-6 d-flex align-items-center">
                <span class="text-muted">Published at: {{ i.publishedat }}</span>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-primary" style="float: right;">View</a> 
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title" style="font-weight: 500;">{{i.title}}</h5>
                </div>
                <div class="col-2">
                    <span class="text-muted" style="float: right;">{{ i.writer }}</span>
                </div>
            </div>
          <p class="card-text"style="text-align: justify;">{{ i.content }}</p>
          <div class="row">
            <div class="col-6 d-flex align-items-center">
                <span class="text-muted">Published at: {{ i.publishedat }}</span>
            </div>
            <div class="col-6">
                <a href="#" class="btn btn-primary" style="float: right;">View</a> 
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}  
</div>

<script src="{%static 'js/searchIncome.js'%}"></script>


{% endblock %}
