{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-4 h-100">
    
    <!-- free consultancy -->
    {% if free_cons|length > 0 %}
    <div class="row">
        <div class="row">
            <h5 class="d-inline font-weight-bold" style="padding-left: 15px;margin-bottom: 0rem;">Free Consultancy</h5>
        </div>
        <hr class="w-100" style="margin-top: 0.3rem;">
        <div class="row w-100">
          {% for i in free_cons%}
            <div class="col-4" style="margin-bottom: 1rem;">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 600;">{{ i.name }}</h5>
                      <h6 class="card-subtitle mb-2">{{ i.designation }}</h6>
                      <p class="card-text mb-1">{{ i.exp }} </p>
                      <p class="card-text mb-1">Schudeled at: {{ i.scheduledat }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Price: <span class="badge badge-success" style="border-radius: 5px;">Free</span></span>
                        <button href="#" id="" class="btn btn-primary float-right rounded" style="font-size: 0.8275rem;padding: 0.1rem 0.7rem;" data-price="0" data-id="{{ i.id }}" onclick="booknow(this)">Book Now</button>
                      </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- paid consultancy -->
    {% if paid_cons|length > 0 %}
    <div class="row mt-3">
      <div class="row">
          <h5 class="d-inline font-weight-bold" style="padding-left: 15px;margin-bottom: 0rem;">Paid Consultancy</h5>
      </div>
      <hr class="w-100" style="margin-top: 0.3rem;">
      <div class="row w-100">
        {% for j in paid_cons%}
          <div class="col-4" style="margin-bottom: 1rem;">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: 600;">{{ j.name }}</h5>
                    <h6 class="card-subtitle mb-2">{{ j.designation }}</h6>
                    <p class="card-text mb-1">{{ j.exp }} </p>
                    <p class="card-text mb-1">Scheduled at: {{ j.scheduledat }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Price: {{ j.price }}</span>
                      <a href="checkout/{{j.id}}" class="btn btn-primary float-right rounded" style="font-size: 0.8275rem;padding: 0.1rem 0.7rem;" data-price="{{ j.price }}" data-id="{{ j.id }}">Book Now</a>
                    </div>
                  </div>
              </div>
          </div>
        {% endfor %}  
      </div>
    </div>
    {% endif %}
    <!-- your bookings -->
    {% if bookdet|length > 0 %}
    <div class="row mt-3">
      <div class="row">
          <h5 class="d-inline font-weight-bold" style="padding-left: 15px;margin-bottom: 0rem;">Your bookings </h5>
      </div>
      <hr class="w-100" style="margin-top: 0.3rem;">
      <div class="row w-100">
        {% for k in bookdet %}
          <div class="col-4" style="margin-bottom: 1rem;">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: 600;">{{ k.name }}</h5>
                    <h6 class="card-subtitle mb-2">{{ k.designation }}</h6>
                    <p class="card-text">{{ k.exp }} </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <span>Scheduled at: {{ k.scheduledat }} </span>
                      {% if k.zoomlink is None %}
                      <a href="" class="btn btn-info float-right rounded" style="font-size: 0.8275rem;padding: 0.1rem 0.7rem;">Wait</a>
                      {% else %}
                      <a href="{{k.zoomlink}}" class="btn btn-success float-right rounded" style="font-size: 0.8275rem;padding: 0.1rem 0.7rem;">Join</a>
                      {% endif %}
                    </div>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
</div>

<!-- <script src="{%static 'js/searchIncome.js'%}"></script> -->
<script>
  function booknow(e){
    dataidnum = e.getAttribute('data-id');
    dataprice= e.getAttribute('data-price');
    console.log(e.parentElement.parentElement.parentElement)
    console.log(dataidnum)
    console.log(dataprice)


    $.ajax({
          type:"POST",
          url:'bookings/' ,
          data: {
            'dataidnum':dataidnum,
            'dataprice':dataprice,
            // 'orderid':Null,
          },
          // contentType:"application/json; charset=utf-8",
          // dataType:"json",
          success:function (msg) {
              // alert(msg.d);
              window.location.reload()
          },
          error:function (xhr, ajaxOptions, thrownError) {
              alert(xhr.status);
              alert(thrownError);
          }
    });
    
  }

</script>


{% endblock %}
