{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="row">
            <h5 class="d-inline">Free Consultancy</h5>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 600;">Dr.Dhawal Kulkarni</h5>
                      <h6 class="card-subtitle mb-2">Phd in stock market from havard university</h6>
                      <p class="card-text">6 years of experience in stock market field </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Price: <span class="badge badge-success" style="border-radius: 5px;">Free</span></span>
                        <a href="#" class="btn btn-primary float-right rounded">Book Now</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 600;">Dr.Dhawal Kulkarni</h5>
                      <h6 class="card-subtitle mb-2">Phd in stock market from havard university</h6>
                      <p class="card-text">6 years of experience in stock market field </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Price: <span class="badge badge-success" style="border-radius: 5px;">Free</span></span>
                        <a href="#" class="btn btn-primary float-right rounded">Book Now</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: 600;">Dr.Dhawal Kulkarni</h5>
                      <h6 class="card-subtitle mb-2">Phd in stock market from havard university</h6>
                      <p class="card-text">6 years of experience in stock market field </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <span>Price: <span class="badge badge-success" style="border-radius: 5px;">Free</span></span>
                        <a href="#" class="btn btn-primary float-right rounded">Book Now</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
    
</div>

<script src="{%static 'js/searchIncome.js'%}"></script>


{% endblock %}
