{% extends 'authbase.html' %} {% load static%} {% block content %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@700&display=swap');

  .customfont{
    font-family: 'Merriweather', serif;
    font-family: 'Playfair Display', serif;
    
  }
  </style>
<div class="row h-100 w-100 d-flex align-items-center justify-content-center" style="background-color: black;">
  <div class="col-md-6 w-50"><img src="{%static 'images/wallpaper.jpeg'%}" class="h-75 w-50 float-right" alt=""></div>
  <div class="align-items-center col-md-6 d-flex  h-100 w-100">
    <div class="card w-50 h-75" style="background-color: #e8e6e6;">
      <div class="card-body">
        <div class="cardlogo d-flex align-items-center justify-content-center">
          <img src="{% static 'img/logo.png' %}" width="50" height="45" />
          <h4 class="customfont">Expenso</h4><br>
        </div>
        <div class="card-title py-2 mt-5">
          <h4>Register here!</h4>
        </div>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          {% include 'partials/messages.html' %}
          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              value="{{fieldValues.username}}"
              class="form-control form-control-sm"
            />
          </div>
          <div
            class="invalid_feedback invalid-feedback"
            style="display: none"
          ></div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{fieldValues.email}}"
            />
          </div>

          <div
            class="emailFeedBackArea invalid-feedback"
            style="display: none"
          ></div>
          <p class="text-sm text-success emailSuccessOutput"></p>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>
          <input
            type="submit"
            value="Register"
            class="btn btn-block btn-primary submit-btn"
          />
        </form>
        <div class="container">
          {% comment %} <span class="text-lead lead">Don't have any account?</span><a href="/authentication/register">Register</a><br> {% endcomment %}
          <span class="text-lead lead customfont" style="font-size: small;" >Forgot password? </span><a href="/authentication/request-reset-link">Reset it</a>
        </div>
      </div>      
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{%static 'js/register.js'%}"></script>
{% endblock%}
