{% extends 'authbase.html' %} {% load static%} {% block content %}

<div class="row h-100">
    <div class="col-md-4"></div>
    <div class="align-items-center col-md-4 d-flex justify-content-center">
        <div class="card h-50 w-100">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Please enter your email to get password rest link</h4>
                </div>
                <form action="/authentication/request-reset-link/" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}

                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control form-control-sm"
                            id="emailField" value="{{values.email}}" />
                    </div>



                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </form>
                <div class="container">
                    <span class="text-lead lead">have any account?</span><a href="/authentication/login">Login</a><br>
                    <span class="text-lead lead">Don't have any account?</span><a href="/authentication/register">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{%static 'js/register.js'%}"></script>
{% endblock%}